section {
  margin: 100px 0;
}

p {
  padding: 0;
  margin: 0;
}

/* .card-title {
    text-overflow: ellipsis;
  overflow: hidden;
} */

#parent {
  position: relative;
  width: 50%;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

#parent:hover #overlay {
  opacity: 1;
}

#text  {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bg-biru {
  background-color: #29166f;
}
.bg-biru:hover {
  background-color: #1e104f;
}
.bg-kuning {
  background-color: #fff500;
}

.biru {
  color: #29166f;
}
.kuning {
  color: #fff500;
}
.kuning:hover {
  color: #c4bd00;
}

hr {
  opacity: 1;
  border: 0;
  border-top: 5px solid #fff500;
  height: 5px;
  width: 10rem;
  border-radius: 10px;
  margin-inline: auto;
  margin-block-start: auto;
}

.kartu {
  width: 100%;
  height: 5.5rem;
  transition: all linear 100ms;
}

.kartu:hover {
  transform: scale(1.05);
  transition: all linear 100ms;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;

}

#map {
  width: 100%;
  height: 450px;
}



/* @media only screen and (max-width: 768px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
} */